body {
  background-color: #e9edee;
}

.leftLogoCont {
  background-color: #222f3f;
  align-items: start;
  padding-block: 10px;
  padding-left: 65px;
}
.imgLogo {
  width: 120px;
  height: 40px;
}
.menuCont {
  background-color: #364757;
  padding-left: 65px;
}
ul {
  padding-block: 5px;
  padding-left: 0;
  margin-left: 0;
}
li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #d2d6df;
  display: inline;
  list-style-type: none;
  padding-right: 30px;
}
.mainCont {
  width: 90%;
  margin-inline: 5%;
  margin-block: 20px;
  background-color: #e9edee;
  font-family: Arial, Helvetica, sans-serif;
}
.orangeCont {
  background-color: #f56600;
  text-align: center;
  padding-block: 3px;
  color: #d2d6df;
}
.greenCont {
  background-image: url(./assets/assets/bg-image.png);
  text-align: center;
  padding-block: 60px;
  color: #d2d6df;
  font-weight: bold;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  padding-bottom: 25px;
}

.boxCont {
  background-color: white;
}
.box {
  width: 20%;
  float: left;
  margin-block: 20px;
}

.imageBox {
  width: 100%;
  height: 300px;
}

.imageBox1 {
  background-image: url(./assets/assets/img_9.png);
  height: 200px;
  background-position: center;
}
.imageBox2 {
  background-image: url(./assets/assets/img_10.png);
  height: 200px;
  background-position: center;
}
.BttCont {
  background-color: #364757;
  text-align: center;
}
.centerLogoCont {
  background-color: #222f3f;
  padding-block: 10px;
  text-align: center;
}
